.header-container {
  position: relative;
  text-align: center;
  color: white;
}

.header-image {
  width: 100%;
  height: auto;
  opacity: 0.7;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px #000000;
}
